<h2 class="mb-4">Hospital Management System</h2>

<!-- Menu untuk memilih Data Pasien atau Data Dokter -->
<div class="d-flex justify-content-center">
    <a href="/pasien" class="btn btn-primary mx-3">Data Pasien</a>
    <a href="/doctors" class="btn btn-success mx-3">Data Dokter</a>
</div>

<!-- Optional: Tampilkan informasi atau deskripsi jika diperlukan -->
<p class="text-center mt-4">Pilih salah satu untuk mengelola data rumah sakit</p>
